[Desktop Entry]
Type=Application
Name=Nebula
Comment=Take photos with the Light L16's camera modules
Exec=nebula
Icon=nebula
Categories=Graphics;Photography;
X-L16-Camera=true
X-Purism-FormFactor=Workstation;Mobile;
Actions=Locked;

[Desktop Action Locked]
Name=Locked camera
Exec=nebula --locked
