[Desktop Entry]
Type=Application
Name=Nebula
Comment=Take photos with the Light L16's camera modules
Exec=nebula
Icon=nebula
Categories=Graphics;Photography;
X-Purism-FormFactor=Workstation;Mobile;
